@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-primary: #0080FF;
  --color-secondary: #424242;
  --color-background: #FFFFFF;
  --color-surface: #FFFFFF;
  --color-success: #4CAF50;
  --color-warning: #FFC107;
  --color-error: #FF5252;
  --color-info: #2196F3;
}
